<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mini.css') }}">
  <title>mbgrader</title>
</head>

<body>

<div class="container">

    <h1 style="text-align: center;">
      mbgrader
    </h1>

    <h5>
      <a href="#assignments"><span class="icon-home"></span></a>
      <span id="navigation"></span>
    </h5>


  <!-- ########## ASSIGNMENTS VIEW ########## -->
  <section id="assignments">

    <table style="max-height: none;">
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Folder</th>
          <th>Submissions</th>
          <th>Questions</th>
          <th>Points</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- ASSIGNMENTS -->

      </tbody>
    </table>

    <!-- NEW ASSIGNMENT MODAL -->
    <label for="assignment-modal-control" class="button">New Assignment</label>
    <input type="checkbox" id="assignment-modal-control" class="modal">
      <div>
        <div class="card large">
          <label for="assignment-modal-control" id="assignment-modal-close" class="modal-close"></label>
          <h3 class="section">Create Assignment</h3>
          <form class="input-group vertical">
            <input type="text" id="new_assignment_name" placeholder="Assignment Name"/>
            <input type="text" id="new_assignment_folder_name" placeholder="Folder Name (submissions/{assignment_name})"/>
          </form>
          <button type="button" id="create_assignment" class="">Create</button>
        </div>
      </div>

    <!-- LOADING SUBMISSIONS MODAL -->
    <label for="loading-submissions-modal-control" style="display: none;"></label>
    <input type="checkbox" id="loading-submissions-modal-control" class="modal">
      <div>
        <div class="card large">
          <label for="loading-submissions-modal-control" style="display: none;" class="modal-close"></label>
          <h3>Loading submissions ...</h3>
          <div class="spinner" style="margin: 20px auto;"></div>
        </div>
      </div>

  </section>

  <!-- ########## QUESTIONS VIEW ########## -->
  <section id="questions" style="display: none;">

    <table style="max-height: none;">
      <thead>
        <tr>
          <th>Question</th>
          <th>Variable Name</th>
          <th>Other Names</th>
          <th>Maximum Grade</th>
          <th>Tolerance</th>
          <th>Batches</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- QUESTIONS -->

      </tbody>
    </table>

    <!-- NEW QUESTION MODAL -->
    <label for="question-modal-control" class="button">New Question</label>
    <input type="checkbox" id="question-modal-control" class="modal">
      <div>
        <div class="card large" style="max-height: none">
          <label for="question-modal-control" id="question-modal-close" class="modal-close"></label>
          <h3 class="section">Create Question</h3>
          <form class="input-group vertical">
            <input type="text" id="new_question_name" placeholder="Question Name"/>
            <input type="text" id="new_var_name" placeholder="Variable Name"/>
            <input type="text" id="new_alt_var_name" placeholder="Other Variable Names"/>
            <input type="text" id="new_max_grade" placeholder="Maximum Grade"/>
            <input type="text" id="new_tolerance" placeholder="Tolerance" value="0.0001"/>
            <textarea id="new_preprocessing" placeholder="def fun(s,r):"></textarea>
          </form>
          <button type="button"  id="create_question">Create</button>
        </div>
      </div>

    <!-- SAVE GRADES MODAL -->
    <label for="grades-modal-control" class="button" id="save_grades">Save Grades</label>
    <input type="checkbox" id="grades-modal-control" class="modal">
      <div>
        <div class="card large">
          <label for="grades-modal-control" style="display: none;" class="modal-close"></label>
          <h3>Saving grades and creating feedback files ...</h3>
          <div class="spinner" style="margin: 20px auto;"></div>
        </div>
      </div>

    <!-- FIND VARS MODAL -->
    <label for="vars-modal-control" class="button" id="get_vars">Find Variables</label>
    <input type="checkbox" id="vars-modal-control" class="modal">
      <div>
        <div class="card large">
          <label for="vars-modal-control" class="modal-close"></label>
          <h3>Variables ...</h3>
          <p id="vars">
            <!-- LIST VARS -->
          </p>
        </div>
      </div>

    <!-- CREATE RESPONSE MODAL -->
    <label for="response-modal-control" class="button">Create Response</label>
    <input type="checkbox" id="response-modal-control" class="modal">
      <div>
        <div class="card large" style="max-height: none">
          <label for="response-modal-control" id="response-modal-close" class="modal-close"></label>
          <h3 class="section">Create Response</h3>
          <form class="input-group vertical">
            <input type="text" id="new_response_name" placeholder="Response Variable Name"/>
            <input type="text" id="new_response_vars" placeholder="Variables in Expression ('E1,E2,E3')"/>
            <textarea id="new_response_expression" placeholder="lambda v: v[0] + v[1] - v[2]"></textarea>
            <input type="text" id="new_response_extension" placeholder="Extension ('csv' or 'txt' or 'sym')"/>
          </form>
          <button type="button" id="create_response">Create</button>
        </div>
      </div>

    <!-- CREATING RESPONSES MODAL -->
    <label for="creating-responses-modal-control" style="display: none;"></label>
    <input type="checkbox" id="creating-responses-modal-control" class="modal">
      <div>
        <div class="card large">
          <label for="creating-responses-modal-control" style="display: none;" class="modal-close"></label>
          <h3>Creating responses ...</h3>
          <div class="spinner" style="margin: 20px auto;"></div>
        </div>
      </div>

  </section>

  <!-- ########## BATCHES VIEW ########## -->
  <section id="batches" style="display: none;">

    <table style="max-height: none;">
      <thead>
        <tr>
          <th>Batch ID</th>
          <th>Datatype</th>
          <th>Count</th>
          <th>Grade</th>
          <th>Comments</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- BATCHES -->

      </tbody>
    </table>
      
    <!-- CREATING BATCHES MODAL -->
    <label for="creating-batches-modal-control" style="display: none;"></label>
    <input type="checkbox" id="creating-batches-modal-control" class="modal">
      <div>
        <div class="card large">
          <label for="creating-batches-modal-control" style="display: none;" class="modal-close"></label>
          <h3>Creating batches ...</h3>
          <div class="spinner" style="margin: 20px auto;"></div>
        </div>
      </div>

  </section>

  <!-- ########## GRADING VIEW ########## -->
  <section id="grading" style="display: none;">

  </section>

  <!-- ########## FOOTER ########## -->
  <br><br>

</div>

<!-- ########## TEMPLATES ########## -->
<script id="assignment" type="text/template">
  <td><%= name %></td>
  <td><%= folder_name %></td>
  <td><%= total_submissions %></td>
  <td><%= total_questions %></td>
  <td><%= total_points %></td>
  <td>
    <button type="button" class="grade">Grade</button>
    <button type="button" class="delete">Delete</button>
  </td>
</script>

<script id="question" type="text/template">
  <td><%= name %></td>
  <td><%= var_name %></td>
  <td><%= alt_var_name %></td>
  <td><%= max_grade %></td>
  <td><%= tolerance %></td>
  <td><%= total_batches %></td>
  <td>
    <button type="button" class="create_batches">Batch!</button>
    <button type="button" class="grade_batches">Grade</button>
    <button type="button" class="delete_question">Delete</button>
  </td>
</script>

<script id="batch" type="text/template">
  <td><%= id %></td>
  <td><%= datatype %></td>
  <td><%= total_batch_responses %> of <%= total_question_responses %></td>
  <td><%= grade %></td>
  <td><%= comments %></td>
  <td>
    <button type="button" class="grade_batch">Grade</button>
  </td>
</script>

<script id="grade" type="text/template">

  <table class="horizontal">
    <thead>
      <tr>
        <th>Batch ID</th>
        <th>Datatype</th>
        <th>Count</th>
        <th>Grade</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= id %></td>
        <td><%= datatype %></td>
        <td><%= total_batch_responses %> of <%= total_question_responses %></td>
        <td><%= grade %></td>
        <td><%= comments %> &nbsp;</td>
      </tr>
    </tbody>
  </table>

  <br>

<section>
  <div class="card fluid" id="data">
    <% if (datatype != 'figure') { %>
        <pre><%= data %></pre>
    <% } %>
  </div>
</section>

  <br>

  <form class="input-group fluid vertical">
    <label for="batch-grade">Grade</label>
    <input type="text" id="batch-grade" value="<%= grade %>"/>
    <label for="batch-comments">Comments</label>
    <input type="text" id="batch-comments" value="<%= comments %>"/>
    <button type="button" id="submit-batch">Submit</button>
    <button type="button" id="next-batch">Next</button>
    <button type="button" id="previous-batch">Previous</button>
  </form>

</script>

<!-- ########## JAVASCRIPT ########## -->

<script src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/underscore.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/backbone.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/plotly.js') }}"></script>

<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script src="{{ url_for('static', filename='js/collections.js') }}"></script>
<script src="{{ url_for('static', filename='js/views.js') }}"></script>
<script src="{{ url_for('static', filename='js/router.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
